* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

h1, h2, h3{
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

h5 {
    font-family: 'Montserrat', sans-serif !important;
}

p{
    font-family: 'Montserrat', sans-serif !important;
}

.navbar .navbar-brand {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.navbar .navbar-nav .nav-item{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #4C2A94 !important;
}

.hero-container{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    /* Image Source: https://unsplash.com/photos/hTv8aaPziOQ */
    background: url("./heroimage.jpg") no-repeat center fixed;
    background-size: cover;
    opacity: 0.70;
}

.hero-text {
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-text h1{
    font-weight: bold;
}

.hero-text h5{
    margin: 50px 0px;
}

.mission{
    display: inline-block;
    text-align: center;
    padding: 70px;
}

.mission-text{
    text-align: left;
    padding: 30px 120px 0px 120px;
}

.facts{

}

.fact-container{
    padding: 40px;
    height: 50vh;
    color: white;
}

.fact-container h3{
    letter-spacing: 4px;
}

.fact-container p{
    margin-top: 25px;
}

.fact-container-one{
    background-color: rgba(72, 54, 112, 0.4);
}

.fact-container-two{
    background-color: rgba(72, 54, 112, 0.6);
}

.fact-container-three{
    background-color: rgba(72, 54, 112, 0.9);
}

footer {
    background-color: #483670;
    color: white;
    padding: 20px;
}

footer p .brand {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
}

footer p .copyright {
    float: right;
    font-size: 14;
}

