body {
    padding: 0;
    margin: 0;
    font-family: "Monsterrat", sans-serif;
    font-size: 16px;
}

.main {
    width: 80%;
    margin: auto;
}

.top-nav {
    padding: 16px;
    margin: auto;
    background-color: black;
    position: fixed;
    width: 80%;
    text-align: center;
    line-height: 35px;
}

.top-nav a:link, a:visited {
    color: #4C2A94;
    text-decoration: none;
}

.top-nav a:hover, a:active {
    color: lightgray;
}

.btn {
    padding: 8px;
    border-radius: 3px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn-section {
    color: black;
    background-color: transparent;
    font-family: 'Barlow Semi Condensed';
}

.btn-user {
    background-color: transparent;
}

.left {
    float: left;
}

.right {
    float: right;
}

.scrolling {
    position: fixed;
    padding-left: 10% !important;
    padding-right: 10% !important;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #bbb;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.5);
}